// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


img {
    max-width: 100%;
}

.raised-box {
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: 4px solid white;
    border-left: 4px solid #b3e0dd;
}

.metric-box {
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: 4px solid white;
    border-left: 4px solid #b3e0dd;
    border-radius: 5px;
    color: var(--dark);
    margin-top: 20px;
}

.metric-box h5 {
    color: var(--dark-acc);
}

.metric-box p {
    color: var(--main);
    font-weight: bold;
    font-size: 35px;
    margin-left: 15px;
}

.break-word {
    overflow-wrap: break-word;
}

.overflow-auto {
    overflow: auto;
}