// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* Bootstrap Overrides */
.navbar-light .navbar-brand {
    color: var(--dark);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: var(--dark);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-acc);
}


.card {
    border: none;
    border-top: 3px solid var(--light-acc);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0;
    background-color: #ffffff;
}

.card-header {
    font-size: 25px;
    background-color: #ffffff;
    border-bottom: none;
}

.card-header:first-child {
    border-radius: 0px;
}




a.unlink {
    color: inherit;
    
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.new-btn {
    min-width: 80px;
}

.ss-card {
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;

    .ss-card-btn {
        text-decoration: none;
    }
}

.set {
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;

    .set-btn {
        text-decoration: none !important;
        color: var(--dark) !important;
        border: 1px solid var(--light-acc);
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        border-radius: 4px;
        min-width: 120px;
    
        &:hover{
            box-shadow: 0px 0px 3px 0px var(--light-acc);
        }
    }
}

.card-detail { 
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;
}

.network-detail { 
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;
    max-height: 95vh;
    overflow: auto;
}

.close {
    cursor: pointer;
}

.has-newlines {
    white-space: pre-wrap;
}

.card-definition {
    max-height: 300px;
    overflow: auto;
}

.card-connection { 
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;
}

.trix-button--icon-heading-1,
.trix-button--icon-code,
.trix-button--icon-quote,
trix-toolbar .trix-button-group--file-tools 
    {
        display: none !important;
    }

.trix-content, .trix-button-group {
    background: white;
}


/* Review */
.review-option { 
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;
}

.past-assessments {
    background: white;

    &.table thead th {
        border-bottom: none;
    }
    
    &.table th, &.table td {
        border-top: none;
    }
}

.rangeslider {
    background: linear-gradient(90deg, $red,$yellow,$green) !important;
}

.rangeslider .rangeslider__fill {
    background: transparent;
}

/* Homepage */
.price-box {
    width: 350px;
    max-width: 100%;
    padding: 15px;
    border-top: 5px solid #6ec4be;
    margin: auto;
    background: white;
}    
.price {
    font-size: 50px;
}

.price small {
    font-size: 25px;
}

.price sup {
    top: -0.3em;
    font-size: 25px;
}

#particles-js { 
    position:absolute; 
    width: 100%; 
    height: 100%;
    background: linear-gradient(#f8fafc, #ffffff);
}

.btn-outline-primary {
    background: #f8fafc;
}

.home-head {
    z-index: 1;
    flex: 0 0 100%;
    max-width: 700px;
    width: 100%;
}

.home-learning {
    background: var(--light-acc);
    width: 100%;
    text-align: center;
}

.you-are {
    flex: 0 0 100%;
    max-width: 700px;
    width: 100%;
} 

.you-are-container {
    background: var(--light-acc);
}

.particle-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

/* utility */
.more-options { 
    position: absolute;
    top: 5px;
    right: 0px;   
    cursor: pointer;

    & a {
        padding: 0.5rem;
        text-decoration: none;
        color: var(--dark-acc);
    }
}

.mouse-over {
    cursor: pointer;
}


.score_color_100  {color: #38c172;}
.score_color_95   {color: #4bc56e;}
.score_color_90   {color: #5fc96a;}
.score_color_85   {color: #73ce66;}
.score_color_80   {color: #87d262;}
.score_color_75   {color: #9bd75e;}
.score_color_70   {color: #afdb5a;}
.score_color_65   {color: #c3df56;}
.score_color_60   {color: #d7e452;}
.score_color_55   {color: #ebe84e;}
.score_color_50   {color: #ffed4a;}
.score_color_45   {color: #fcda47;}
.score_color_40   {color: #f9c844;}
.score_color_35   {color: #f6b541;}
.score_color_30   {color: #f3a33f;}
.score_color_25   {color: #f1903c;}
.score_color_20   {color: #ee7e39;}
.score_color_15   {color: #eb6b37;}
.score_color_10   {color: #e85834;}
.score_color_5    {color: #e54631;}
.score_color_0    {color: #e3342f;}