// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.new-btn {
    min-width: 80px;
}

.ss-card {
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;

    .ss-card-btn {
        text-decoration: none;
    }
}

.set {
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;

    .set-btn {
        text-decoration: none !important;
        color: var(--dark) !important;
        border: 1px solid var(--light-acc);
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        border-radius: 4px;
        min-width: 120px;
    
        &:hover{
            box-shadow: 0px 0px 3px 0px var(--light-acc);
        }
    }
}

.card-detail { 
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;
}

.card-definition {
    white-space: pre-wrap;
}

.card-connection { 
    position: relative;
    background: white;
    padding: 12px 20px;
    border-radius: 3px;
}

.more-options { 
    position: absolute;
    top: 5px;
    right: 0px;   
    cursor: pointer;

    & a {
        padding: 0.5rem;
        text-decoration: none;
        color: var(--dark-acc);
    }
}

.mouse-over {
    cursor: pointer;
}